<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

	<div class="limiter">
		<div class="container-login">

			<noscript>
			<div class="alert alert-danger" id="alert" role="alert">
					  <strong>Error! </strong>
					  Enable javascript in your browser configuration.
				</div>
			</noscript>
			<div class="wrap-login">
				<form class="login-form validate-form" th:action="@{/login}" method="post">
					<span class="login-form-title">
						Zaloguj się
					</span>

					<div class="wrap-input">
						<input class="input" type="text" name="email" placeholder="E-mail">
					</div>

					<div class="wrap-input">
						<input class="input" type="password" id="password" name="password" placeholder="Hasło">
					</div>

					<div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button class="login-form-btn">
								Potwierdź
							</button>
						</div>
                    </div>
                    <div class="container-invitation">
						<span class="">Nie masz jeszcze konta? <a th:action="@{/login}" >Zarejestruj się</a></span>
                    </div>
				</form>
			</div>
		</div>
		<div id="cookie-bar">
		    <div class="cookie-inner">
				<span class="left-side">Strona używa plików cookie.</span>
				<span class="right-side">
					<button id="cookie-button" tabindex="0" onclick="acceptCookies();">Zgadzam się</button>
				</span>
			</div>
		</div>
	</div>
</body>
</html>
